<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <form method="post" action="/create">
    <input type="text" name="username" placeholder="Enter your name">
    <input type="text" placeholder="type email" name="email">
    <input type="text" placeholder="type passs" name="password">
    <input type="number" name="age">
    <button>Sign Up</button>
   </form>
</body>
</html>